<form>
  <div class="form-group col-3">
    <label for="exampleInputEmail1">first name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name" #name>
  </div>
  <div class="form-group col-3">
    <label for="exampleInputPassword1">email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email" #email>
  </div>
  <div class="form-group col-3">
    <label for="exampleInputPassword1">phone</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Phone" #phone>
  </div>
  <input type="button" value="Add" (click)="addContact(name, email, phone)">
</form>
